* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Roboto; 
  src: url('../fonts/Roboto.ttf');
 }

@keyframes swing {
  15% {
    -webkit-transform: rotateZ(30deg);
    -ms-transform: rotateZ(30deg);
    transform: rotateZ(30deg);
  }
  30% {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
  }
  40% {
    -webkit-transform: rotateZ(20deg);
    -ms-transform: rotateZ(20deg);
    transform: rotateZ(20deg);
  }
  50% {
    -webkit-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
  }
  65% {
    -webkit-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
  }
}

@keyframes sendletter {
  50% {
    -webkit-transform: translate(0,-1px) rotateZ(90deg);
    -ms-transform: translate(0,-1px) rotateZ(90deg);
    transform: translate(0,-1px) rotateZ(90deg);
  }
  100% {
    -webkit-transform: translate(0,20px) rotateZ(90deg);
    -ms-transform: translate(0,20px) rotateZ(90deg);
    transform: translate(0,20px) rotateZ(90deg);
  }
}

div {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

p.simply_text, p.product_text {
  font-size: 16px;
  line-height: 26px;
  color: #1F3F68;
  letter-spacing: 0.8px;
  height: 154px;
}

a, a:link, a:hover, a:active {
  color: #FFFFFF;
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1.main_header {
  font-size: 64px;
  color: #1F3F68;
  width: 510px;
  margin: 72px 0 30px;
  letter-spacing: 2px;
  line-height: 74px;
  font-weight: 300;
}

h2.contacts_header {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

h3.third_header, h3.second_header {
  font-size: 36px;
  line-height: 110px;
}

h3.third_header{
  line-height: 110px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 30px;
}

h3.second_header {
  text-align: center;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1.5px;
}

h4.product_header {
  font-size: 20px;
  line-height: 30px;
  color: #1F3F68;
  margin: 41px 0 10px;
  letter-spacing: 0.9px;
}

button.header_button {
  background-color: #5b98d1;
  padding: 18px 50px;
  color: white;
  border: none;
  font-size: 17px;
  border-radius: 10px;
}

button.submit_button {
  background: #5A98D0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  width: 428px; 
  height: 74px;
  margin-top: 32px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  position: relative;
}

.contacts_container {
  width: 940px;
  margin: 0 auto;
  position: relative;
}
.main_menu{
  display: flex;
  justify-content: space-between;
  align-items:center;
  height: 118px;
  background-color:white;
  margin-bottom: 20px;
}

.own_menu_icon:hover > img {
  transform: scale(-1, -1)
}

.own_header_chapter .main_menu{
  margin-bottom: 0px;
  height: 129px;
}

.contacts_header_chapter {
  height: 250px;
  color:white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 52px;
  font-size: 44px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.04em;
  background-image: url('../img/contactback.jpg');
  background-position: center;
  background-size: cover;
}

.contacts_header_chapter > p {
  color:white;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.04em;
  margin-top: 20px;
  width: 770px;
  height: 60px;
}

.contactus_main_chapter{
  display: flex;
  justify-content: space-between;
  padding: 62px 0px;
}

header {
  background-image: url('../img/headerback.png');
  background-position: center bottom;
  background-repeat: repeat-x;
}

.own_main_header_chapter {
  height: 765px;
  background-image: url('../img/illustration.svg');
  background-position: right 67%;
  background-repeat: no-repeat;
  background-size: 50%;
}

.contacts_info {
  margin-top: 20px;
}

.header_tagline > .simply_text {
  width: 425px
}

.general_products_chapter {
  padding: 34px 0;
}

.products_chapter {
  height: 538px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product {
  width: 359px;
  height: 480px;
  background-color: white;
  padding: 33px;
  border-radius: 10px;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.product::before {
  content: '';
  display: block;
  width: 100%;
  height: 140px;
  margin: 0px auto;
}

.first_pos::before {
  background-image: url('../img/a.svg');
  background-position: 24% center;
  background-repeat: no-repeat;
}

.second_pos::before {
  background-image: url('../img/b.svg');
  background-position: 52% 56%;
  background-repeat: no-repeat;
}

.third_pos::before {
  background-image: url('../img/c.svg');
  background-position: 36% 70%;
  background-repeat: no-repeat;
}

p.product_text {
  height: 100px;
  margin-bottom: 26px;
}

a.product_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
  display: inline-block;
  vertical-align: middle;
}

a.product_link::after {
  content: '';
  display: inline-block;
  width: 17px;
  height: 30px;
  line-height: 30px;
  margin-left: 22px;
  background-image: url('../img/arrow.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  vertical-align: middle;
}

a.product_link:hover::after {
  transform: translateX(-3px);
}

a.product_link:active::after {
  transform: translateX(7px);
}

.advertising {
  text-align: center;
  height: 180px;
}

.advertising_text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  width: 740px;
  margin: 0 auto;
}

.banner_block {
  margin-top: 14px;
  margin-bottom: 112px;
}

.top_banner{
  width: 100%;
  position:relative;
  border-radius: 10px;
}

.top_banner > img{
  width: 100%;
}

.banner_block h4 {
  position: absolute;
  top: 64px;
  right: 62px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.top_block h4 {
  font-size: 32px;
  line-height: 46px;
  text-align: right;
}

.bottom_banners h4 {
  font-size: 28px;
  line-height: 46px;
  top: 32px;
  left: 32px;
}

.bottom_banners {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}

.child_banner {
  width: 48%;
  position: relative;
  border-radius: 10px;
}

.child_banner > img {
  width: 100%;
}

footer {
  background-color: #316099;
  height: 656px;
  color: white;
}

.footer_tagline {
  max-width: 495px;
}

.footer_tagline > p{
  color: white;
}

.footer_tagline h3.third_header{
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-top: 84px;
  width: 310px;
}

.footer_top {
  height: 375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_button {
  color: white;
  background-color: #5a98d0;
  font-size: 17px;
  padding: 17px 84px;
  margin-top: 11px;
  border: none;
}

.contacts_chapter {
  min-height: 124px;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.copyright_chapter p {
  color: #83a0c2;
  margin-top: 10px;
  line-height: 94px;
  height: 94px;
}

ul > li {
  list-style-type: none;
}

.contacts_chapter > li {
  flex: 1;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  padding-left: 22px;
  margin-top: 57px;
  margin-left: 20px;
  margin-right: 38px;
}
.contacts_chapter > li:last-child {
  margin-right: 8px;
}

.form_chapter {
  margin-top: -4px;
  width:  540px;
  background-color: white;
  padding: 56px;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #d3e5f4;
}

.form_chapter h4 {
  text-transform: uppercase;
  color: #1f3f68;
  margin-bottom: 52px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
}

.form_chapter label{
  color:  #4c6586;
  margin: 52px 0px;
}


.input_fields {
  border: 1px solid #356EAD;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
  margin: 14px 0px 37px;
  padding: 20px 30px;
  font-size: 18px;
  width: 428px; 
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
}

.input_fields:focus{
  outline: none;
  border: 1px solid #9f3232;
}

.input_fields::placeholder {
  font-family: Roboto;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
}

textarea.input_fields {
  height: 142px;
}

.contacts_info {
  width: 350px;
  
}

.addresses_list h4 {
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font-size: 20px;
  line-height: 68px;
  margin-top:20px;
  color: #1F3F68;
}

.addresses_list p {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.034em;
  color: #1F3F68;
  opacity: 0.6;
  height: 54px;
  margin-top: 4px;
  width: 300px;
}

.addresses_list > div {
  margin-bottom: 20px;
}
.picture_chapter{
  height: 250px;
  padding-top: 52px;
  margin-bottom: 22px;
}
.picture_chapter img{
  width: 300px;
}

.addresses_list ul > li {
  line-height: 38px;
  
}

.map_chapter {
  margin-bottom: 107px;
  margin-top: 34px;
}
.map_chapter iframe{
  height: 480px;
}

.footer_contact_text{
  display: inline-block;
  width: 310px;
  vertical-align: top;
}

button {
  cursor: pointer;
}

button:hover {
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

button:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

a.icon_link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  vertical-align: middle;
}

a.phone_icon {
  font-weight: 300;
}

a.icon_link::before {
  content: '';
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 26px;
  margin-right: 20px;
  vertical-align: middle;
  background-size: contain;
}

a.phone_icon::before {
  background-image: url('../img/phone24.svg');
}

a.phone_icon:hover::before {
  -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
}

a.site_icon::before {
  background-image: url('../img/site24.svg');
  -webkit-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  transition: .4s ease-out;
}


a.site_icon:hover::before {
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
  -webkit-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  transition: .4s ease-out;
}

a.email_icon {
  position: relative;
}

a.email_icon:hover::before {
  -webkit-animation: sendletter 0.6s linear;
  animation: sendletter 0.6s linear;
   -webkit-animation-iteration-count: 1;
   animation-iteration-count: 1;
   -webkit-animation-fill-mode: forwards;
   animation-fill-mode: forwards;
}

a.email_icon::before {
  background-image: url('../img/email24.svg');
}
a.email_icon::after {
  content: '';
  display: inline-block;
  background-color:rgb(255, 255, 255);
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.contacts_list > li {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0px;
  float: left;
  margin-right: 28px;
}

.contacts_list > li::before {
  display: inline-block;
  height: 50px;
  margin-right: 27px;
  float: left;
}

.contacts_list > li:first-child::before{
  content: "A. ";
}

.contacts_list > li:nth-child(2)::before{
  content: "T. ";
}

.contacts_list > li:last-child::before{
  content: "E. ";
}

@media (max-width: 1024px) {
  .container{
    padding: 0 32px;
  }

  .own_main_header_chapter {
    height: 785px;
    background-position: 93% 382px;
    background-size: 44%;
  }

  .main_menu {
    height: 146px;
  }

  h1.main_header {
    margin: 60px 0 30px;
  }

  h3.second_header {
    margin-top: 66px;
    line-height: 46px;
    letter-spacing: 0.043em;
    padding: 0 19px;
  }
  
  .products_chapter {
    padding-top: 62px;
    flex-direction: column;
    
    height: auto;
  }
  .product {
    width: 336px;
    height: 450px;
    margin-bottom: 32px;
    padding: 30px;
  }
  h4.product_header {
    margin: 32px 0 4px;
    letter-spacing: 1px;
  }
  p.product_text {
    height: 100px;
    margin-bottom: 30px;
    width: 250px;
  }
  a.product_link::after {
    margin-left: 15px;
  }
  .advertising {
    margin-top: 100px;
  }
  h3.third_header {
    letter-spacing: 0.04em;
  }
  .advertising_text {
    letter-spacing: 0.051em;
    padding: 3px 115px;
    width: auto;
  }
  .banner_block {
    margin-top: 42px;
    margin-bottom: 102px;
  }
  .banner_block h4 {
    font-size: 32px;
    line-height: 46px;
  }
  .bottom_banners {
    margin-top: 28px;
  }
  .bottom_banners h4 {
    font-size: 28px;
    line-height: 46px;
    top: 18px;
    left: 20px;
    right: 0;
  }

  .footer_top {
    height: 320px;
  }

  footer .container{
    padding: 0 124px;
  }

  .footer_tagline {
    max-width: 330px;
  }

  .footer_tagline h3.third_header {
    margin-top: 42px;
    margin-bottom: 20px;
  }

  .footer_button {
    padding: 7px 31px;
    margin-top: 38px;
    white-space: nowrap;
  }

  .contacts_chapter {
    flex-direction: column;
    margin-top: 44px;
  }
  .contacts_chapter > li {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
    padding-left: 40px;
  }
  .footer_contact_text {
    width: auto;
  }
  .copyright_chapter p {
    margin-top: 19px;
  }
  .contactus_main_chapter {
    flex-direction: column;
    padding: 14px;
    width: auto;
  }

  .contactus_main_chapter > div{
    margin: 0 auto 40px;
    padding: 0 26px;
  }
  .map_chapter {
    width: 100%;
    margin-bottom: 55px;
    margin-top: 11px;
  }
  .map_chapter iframe{
    height: 394px;
  }
  .own_header_chapter .main_menu {
    height: 74px;
    margin-bottom: 26px;
  }
  .picture_chapter {
    margin-bottom: 25px;
  }
  .contactus_main_chapter > .form_chapter {
    padding: 56px;
    width: 520px;
  }
  .form_chapter h4 {
    width: 100px;
    margin-bottom: 20px;
  }
  .input_fields {
    margin: 14px 0px 32px;
    width: 412px;
 }
 button.submit_button {
  width: 412px;
  }
  .contacts_header_chapter > p {
   max-width: 500px;
}
.contacts_list {
  margin-top: 68px;
}
.contacts_list > li {
  margin-top: -5px;
    margin-left: 3px;
    margin-right: 0px;
    padding-left: 0px;
}
.contacts_list > li::before {
  margin-right: 44px;
}
}

@media (max-width: 767px) {

  .own_main_header_chapter {
    background: none;
  }

  .container {
    padding: 0 14px;
  }

  .main_menu {
    height: 86px;
    margin-bottom: 5px;
  }

  .main_menu img:last-child {
    margin-right: 6px;
  }

  .header_tagline {
    text-align: center;
  }

  h1.main_header {
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 1px;
    width: 300px;
    margin: 10px auto;
  }

  .header_tagline > .simply_text {
    width: auto;
    text-align: center;
    height: 128px;
  }
  button.header_button {
    margin: 0 auto;
    font-size: 12px;
    line-height: 26px;
    padding: 1px 10px;
  }
  .own_main_header_chapter {
    height: 374px;
    background-position: 93% 382px;
    background-size: 44%;
  }
  h3.second_header {
    margin-top: 50px;
    letter-spacing: 0.001em;
    padding: 0 14px;
    font-size: 24px;
    line-height: 28px;
  }
  .products_chapter {
    padding-top: 30px;
  }
  p.product_text {
    height: 112px;
  }
  .advertising {
    margin-top: 38px;
  }
  h3.third_header {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.001em;
  }
  .advertising_text {
    padding: 3px 15px;
  }
  .banner_block {
    margin-top: 68px;
    margin-bottom: 66px;
  }
  .banner_block h4 {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.005em;
    top: 14px;
    right: 19px;
  }
  .bottom_banners {
    margin-top: 11px;
    flex-direction: column;
  }
  .bottom_banners h4 {
    font-size: 16px;
    line-height: 19px;
    top: 24px;
    left: 17px;
  }
  .child_banner {
    width: 100%;
  }
  footer .container {
    padding: 0 14px;
  }
  .footer_top {
    flex-direction: column;
    height: 266px;
    margin-bottom: 44px;
  }
  .footer_tagline h3.third_header {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 15px auto 28px;
    width: 230px;
    letter-spacing: 0em;
  }
  p.simply_text {
    text-align: center;
    height: 120px;
  }
  .footer_button {
    padding: 5px 19px;
    margin-top: 19px;
    white-space: nowrap;
  }
  .contacts_chapter {
    margin-top: 20px;
  }
  .footer_contact_text {
    line-height: 20px;
  }
  .contacts_chapter > li {
    margin-top: 10px;
    margin-left: 22px;
    margin-right: 0px;
    padding-left: 20px;

  }
  .copyright_chapter p {
    margin-top: -6px;
  }
  footer {
    height: 542px;
  }
  .own_header_chapter .main_menu {
    margin-bottom: 8px;
  }
  .contacts_header_chapter {
    padding: 22px 14px;
  }
  h2.contacts_header {
    font-size: 22px;
    margin-top: 16px;
    line-height: 44px;
  }
  .contacts_header_chapter > p {
    width: auto;
    font-size: 16px;
    line-height: 30px;
  }
  .picture_chapter {
    padding-top: 34px;
    height: 234px;
  }
  .addresses_list p {
    text-align: left;
    height: 46px;
  }
  .service_chapter .four_header{
    line-height: 60px;
  }
  .contactus_main_chapter > .form_chapter {
    padding: 34px 38px;
    width: 100%;
  }
  .contactus_main_chapter > div {
    margin: 0 auto 12px;
    width: 100%;
    padding: 0;
  }
  
  .contactus_main_chapter > .contacts_info{
    padding: 0px 26px;
  }
  .input_fields {
    margin: 0px 0px 26px;
    width: 100%;
    padding: 7px 26px;
  }
  button.submit_button {
    width: 100%;
    height: 46px;
    margin-top: 16px;
  }
  .form_chapter h4 {
    width: 160px;
    margin-bottom: 26px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
  }
  textarea.input_fields {
    height: 92px;
  }
  .map_chapter iframe {
    height: 346px;
  }
  .map_chapter {
    margin-bottom: 32px;
  }
  .contacts_list > li {
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 2px;
    font-size: 16px;
    line-height: 19px;
  }
  .contacts_list > li::before {
    margin-right: 26px;
  }
  .copyright_chapter {
    margin-top: 20px;
  }
  .copyright_chapter p {
    line-height: 20px;
    height: 40px;

}
}

