body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

table {
	position: relative;
}

td {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: solid 3px #eee;
}

.point, .right, .left, .up, .down, .tr, .tl, .br, .bl {
	border: solid 3px #333;
	background-color: #999;
}

.right {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.left {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.up {
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.down {
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.tl {
	border-top-left-radius: 50%;
}

.tr {
	border-top-right-radius: 50%;
}

.bl {
	border-bottom-left-radius: 50%;
}

.br {
	border-bottom-right-radius: 50%;
}

.food {
	background-color: #5e3d1b;
	border-radius: 50%;
}

.game {
	display: inline-block;
	position: relative;
}

.game__over {
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	text-align: center;
	padding: 50px;
	box-sizing: border-box;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
	display: none;
}

button {
	cursor: pointer;
}

.scored {
	display: flex;
	align-items: center;
}

.scored__table {
	max-width: 290px;
	display: inline-block;
	min-width: 80px;
	text-align: center;
	height: 50px;
	font-size: 40px;
	background-color: #f6ffa6;
	border: solid 4px #5e3d1b;
}

.scored__pause, .scored__reload {
	max-width: 290px;
	display: inline-block;
	min-width: 102px;
	text-align: center;
	height: 58px;
	font-size: 20px;
	border: solid 1px #eee;
	border-radius: 3px;
	background-color: transparent;
	margin: 2px;
}
.scored__pause > img, .scored__reload  > img {
	height: 100%;
}

#up, #right, #left, #down {
	border: solid 1px #eee;
	border-radius: 3px;
	background-color: transparent;
	display: inline-block;
	position: relative;
}
#up, #down {
	width: 58px;
	height: 58px;
}
#right, #left {
	height: 58px;
	width: 58px;
}
#left {
	margin-right: 58px;
	border-right: none;
}
#left::before {
	content: '';
	display: block;
	height: 39px;
	width: 39px;
	border: solid 1px #eee;
	position: absolute;
	border-bottom: none;
	border-left: none;
	position: absolute;
	transform: rotate(45deg);
	top: 8px;
	right: -19px;
}
#right {
	border-left: none;
}
#right::after {
	content: '';
	display: block;
	height: 39px;
	width: 39px;
	border: solid 1px #eee;
	position: absolute;
	border-top: none;
	border-right: none;
	position: absolute;
	transform: rotate(45deg);
	top: 8px;
	left: -19px;
}
#up {
	border-bottom: none;
	margin-bottom: 2px;
}
#up::after {
	content: '';
	display: block;
	height: 39px;
	width: 39px;
	border: solid 1px #eee;
	position: absolute;
	border-top: none;
	border-left: none;
	position: absolute;
	transform: rotate(45deg);
	top: 36px;
	left: 8px;
}
#down {
	border-top: none;
	margin-top: 2px;
}
#down::after {
	content: '';
	display: block;
	height: 39px;
	width: 39px;
	border: solid 1px #eee;
	position: absolute;
	border-bottom: none;
	border-right: none;
	position: absolute;
	transform: rotate(45deg);
	top: -19px;
	left: 8px;
}
.controls {
	text-align: center;
	margin-top: 10px;
}