body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

table {
	position: relative;
}

td {
	width: 20px;
	height: 20px;
	background-color: #fff;
	border: solid 3px #eee;
}

.point, .right, .left, .up, .down, .tr, .tl, .br, .bl {
	border: solid 3px #333;
	background-color: #999;
}

.right {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.left {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.up {
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
}

.down {
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.tl {
	border-top-left-radius: 50%;
}

.tr {
	border-top-right-radius: 50%;
}

.bl {
	border-bottom-left-radius: 50%;
}

.br {
	border-bottom-right-radius: 50%;
}

.food {
	background-color: #5e3d1b;
	border-radius: 50%;
}

.game {
	display: inline-block;
	position: relative;
}

.game__over {
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	top: 0;
	text-align: center;
	padding: 50px;
	box-sizing: border-box;
	font-size: 30px;
	justify-content: center;
	align-items: center;
	opacity: 0.7;
	display: none;
}

.scored {
	display: flex;
	align-items: center;
}

.scored__table {
	max-width: 290px;
	display: inline-block;
	min-width: 80px;
	text-align: center;
	height: 50px;
	font-size: 40px;
	background-color: #f6ffa6;
	border: solid 4px #5e3d1b;
}

.scored__pause, .scored__reload {
	max-width: 290px;
	display: inline-block;
	min-width: 102px;
	text-align: center;
	height: 58px;
	font-size: 20px;
	border: solid 1px #eee;
	border-radius: 3px;
	background-color: transparent;
	margin: 2px;
}
.scored__pause > img, .scored__reload  > img {
	height: 100%;
}